# 42 login of the owner of the App
CALIPH_USER=a

# Hostname of the server
HOST=b
# Port of the front-end server
PORT=1234

# API Credentials
UID=0
SECRET=0

# JWT Secrets
JWT_LOG_SECRET=0
JWT_2FA_SECRET=0
JWT_REGISTER_SECRET=0
